.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 2.5rem 4rem;
  z-index: 1000;
  border-bottom: 1px solid #000;
  transition: background-color 0.3s ease, padding 0.3s ease, border-color 0.3s ease;

  &.scrolled {
    padding: 1.5rem 2rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: transparent;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
    backdrop-filter: blur(5px);
  }

  .logo {
    cursor: pointer;
    font-weight: bold;
  }

  .nav {
    display: flex;
    gap: 2.5rem;
    a {
      cursor: pointer;
      text-decoration: none;
      transition: color 0.3s;
      font-size: 18px;
    }
  }

  .navToggle {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
  }

  @media (max-width: 768px) {
    .nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background: #4e54c8;
      padding: 1rem;

      &.open {
        display: flex;
      }
    }

    .navToggle {
      display: block;
    }
  }
}
